<div class="container" style="height:100%">
  <div class="form-container">

    <% if(status) { %>
      <h1><%= status %> :\</h1>
    <% } %>
    
    <% if(message) { %>
      <h2><%= message %></h2>
    <% } %>
    
    <p>
      If you think this is a mistake, please pm me on discord at <pre>papa peli#4840</pre>
    </p>
  </div>
</div>