<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>shawrty | mdvsh.co</title>
    <meta name="description" content="shawrty is madhav's link shortener." />
    <meta author="Exun Clan" />
    <meta name="theme-color" content="#2977f5" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <%- body %>
  </body>
</html>
